.chats-title{
    width: 100%;
    background: linear-gradient(90deg, rgb(29, 115, 91) 0%, rgb(40, 121, 19) 100%);
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: white;
    font-size: x-large;
    padding: 0.5em 0 0.5em 3em;
}