.f-grou{
    padding: 10px;
    margin-left: 10px;
}
.f-grou input{
    margin-left: 10px;
    padding-left: 10px;
}

.f-grou label{
    font-family: "Open Sans", sans-serif;
    color: black;
    display: inline-block;
    width: 150px;
}
.ftr{
    margin-left: 10px;
    text-align: center;
}
.ftr button{
    background: linear-gradient(90deg, rgb(29, 115, 91) 0%, rgb(40, 121, 19) 100%);
    color: whitesmoke;
    margin-bottom: 1em;
}
.ftr button:hover{
    background: black;
    color: white;
    margin-bottom: 1em;
}
.editA{
    margin-left: 50px;
    border-radius: 1em;
    padding: 10px;
}