.navbar {
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
}

.navbar-brand{
    font-family: Lobster;
    font-size: larger;
}

.input-group{
    width: 600px !important;
}